* {
  margin: 0%;
  padding: 0px;
}
.header {
  display: flex;
  justify-content: space-between;

  min-height: 900px;
  background-image: url("pictures/img25.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: bg-animation 15s infinite;
  image-rendering: pixelated;
  max-width: 1440px;
  animation: slideshow-animation 120s infinite linear;
  background-color: #0c0101;
}

.menu {
  position: absolute;
  width: 234px;
  height: 15px;
  left: 100x;
  top: 36px;
  right: 400px;
  white-space: nowrap;
  padding: 20px;
  margin-left: 0 20px;
  margin-right: 100px;
}
.menu a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-style: normal;
}

.menu a.contact {
  margin-right: 20px;

  color: #f4f3f7;
  white-space: nowrap;
}
.menu a.about {
  margin-right: 20px;

  /* identical to box height */

  color: #faf7f7;
}
.menu a.travel {
  margin-right: 20px;

  /* identical to box height */

  color: #faf7f7;
}
.menu a.entertainment {
  margin-right: 20px;

  color: #f7f3f3;
}
.menu a:hover {
  color: aqua;
}
.logo {
  font-family: "Lobster", cursive;
  position: absolute;
  width: 50px;
  height: 29.46px;
  left: 50px;
  top: 15px;
  color: #06010f;
  font-style: serif;
  font-size: 30px;
}
.logo img {
  border-top: 0px;
  padding: 0px;
  margin-top: 37px;
  max-width: 100px;
  border-radius: 50px;
  background-color: rgb(48, 45, 238);
}
.main_part {
  position: absolute;
  width: 800px;
  height: 1093px;
  left: 250px;

  top: 0px;
}
.block1 {
  margin: 0;
  padding: 0;
}
.karibu {
  font-family: "Pacifico", cursive;

  font-size: 100px;
  line-height: 151px;
  margin-top: 280px;
  justify-content: center;
  white-space: nowrap;
  color: #15023d;
  align-items: center;
  padding: 12px 24px;
  border: none;
  letter-spacing: 10px;
  text-align: center;
}
.block1 p {
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-align: center;
  color: #15023d;

  white-space: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  letter-spacing: 10px;
  text-align: center;
}
